# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# other
data/*
data-ADNI/*
dataset_ADNI/*
data-ADNI-revised/*
reports/*
.DS_Store
.vscode
mlruns/*
mlflow/*
mlflow_artifacts/*
