pandas
numpy 
keras
matplotlib
Pillow
opencv-python #cv2
seaborn
scikit-image
tensorflow
mlflow
scikit-tda
ripser
persim
icecream
#python -m pip install -U giotto-tda

# Added for skull removal:
ants
antspynet
ipywidgets
SimpleITK
nibabel